<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet/less" type="text/css" href="{{ asset('css/cbwa.less?v=4') }}" />
        <!--[if lte IE 9]>
        <script type="text/javascript" src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="//cdn.bootcss.com/less.js/2.7.1/less.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body ng-app="app" ng-controller="BaseCBWAController">
        <div class="fe-header">
            <div class="container">
                <div class="row">
                    <a class="fe-logo-area" href="jumpToPage('')">
                        <img class="fe-logo" src="{{ asset('img/fantastic/common/logo_1.png') }}" alt="Logo" />
                    </a>
                    <a class="fe-login-area" href="javascript:void(0)" ng-click="jumpToPage('register')" ng-show="user == null">
                        注册
                    </a>
                    <a class="fe-login-area" href="javascript:void(0)" ng-click="exit()" ng-show="user != null">
                        退出
                    </a>
                    <a class="fe-login-area split">
                        &nbsp;/&nbsp;
                    </a>
                    <a class="fe-login-area" href="javascript:void(0)" ng-click="jumpToPage('login')" ng-show="user == null">
                        登录
                    </a>
                    <a class="fe-login-area" href="javascript:void(0)" ng-click="jumpToPage('personal')" ng-show="user != null">
                        个人中心
                    </a>
                </div>
            </div>
        </div>
        <div class="fe-top">
            <div class="container">
                <div class="row">
                    <a class="fe-big-logo-area">
                        <img class="fe-big-logo" src="{{ asset('img/fantastic/common/logo_2.png') }}" alt="Logo" />
                    </a>
                    <a class="fe-title-area">
                        <img class="fe-title" src="{{ asset('img/fantastic/common/title.png') }}" alt="Title" />
                    </a>
                    <a class="fe-intro">
                        作品征集: 2016.10.10-11.20<br />
                        颁奖典礼: 2016.12.10 北京
                    </a>
                </div>
            </div>
        </div>
        <div class="fe-navigation">
            <div class="container">
                <div class="row">
                    <ul>
                        <li {% if index == 'home' %} class="active" {% endif %} ng-click="jumpToPage('')">
                            <img class="triangle first" src="{{ asset('img/fantastic/common/triangle.png') }}" alt="Triangle" />
                            <div>首页 HOME</div>
                        </li>
                        <li {% if index == 'info' %} class="active" {% endif %} ng-click="jumpToPage('info')">
                            <img class="triangle second" src="{{ asset('img/fantastic/common/triangle.png') }}" alt="Triangle" />
                            <div>关于大赛 INFO</div>
                        </li>
                        <li {% if index == 'awards' %} class="active" {% endif %} ng-click="jumpToPage('awards')">
                            <img class="triangle third" src="{{ asset('img/fantastic/common/triangle.png') }}" alt="Triangle" />
                            <div>奖项设置 AWARDS</div>
                        </li>
                        <li {% if index == 'works' %} class="active" {% endif %} ng-click="jumpToPage('works')">
                            <img class="triangle fourth" src="{{ asset('img/fantastic/common/triangle.png') }}" alt="Triangle" />
                            <div>热门方案 WORKS</div>
                        </li>
                        <li {% if index == 'ceremony' %} class="active" {% endif %} ng-click="ceremony()">
                            <img class="triangle fifth" src="{{ asset('img/fantastic/common/triangle.png') }}" alt="Triangle" />
                            <div>颁奖典礼 CEREMONY</div>
                        </li>
                    </ul>
                    <a class="fe-join-area" ng-click="join()">
                        <img class="fe-join" src="{{ asset('img/fantastic/common/join.png') }}" alt="Join" />
                    </a>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="fe-bottom">
            <div class="container">
                <div class="row fe-bottom-sponsor">
                    <div class="col-md-12">
                        <div class="bottom-title">
                            主办单位
                        </div>
                        <div class="sponsor-primary">
                            <img src="{{ asset('img/fantastic/common/sponsor.png') }}"/>
                        </div>
                    </div>
                </div>
                <div class="row fe-bottom-contact">
                    <div class="col-md-12">
                        <div class="bottom-title">
                            联系我们
                        </div>
                        <div class="contact-content">
                            电话:&nbsp;400-9008-520&nbsp;&nbsp;&nbsp;&nbsp;邮箱:&nbsp;CBWA@cosmo.love
                            &nbsp;&nbsp;&nbsp;&nbsp;微博:&nbsp;@时尚新娘COSMOBride
                            &nbsp;&nbsp;&nbsp;&nbsp;微信:&nbsp;时尚新娘
                        </div>
                        <div class="contact-copyright">
                            ©1998-2016&nbsp;时尚新娘&nbsp;版权所有&nbsp;京ICP备14009671号-1
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var domain = '{{ domain }}';
            var base = '{{ base }}/cbwa/';
            var apiBase = '{{ base }}';
        </script>
        <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.5.6/angular-cookies.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/app.cbwa.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/service.cbwa.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/md5.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
