{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/umeditor/css/umeditor.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="fe-apply" ng-controller="JoinController" ng-init="init()">
        <div class="container">
            <div class="row fe-apply-bg">
                <div class="fe-apply-left">
                    <ul>
                        <li ng-class="{'active': applyStep == 1}"><div>1. 案例信息</div></li>
                        <li ng-class="{'active': applyStep == 2}"><div>2. 案例图文</div></li>
                        <li ng-class="{'active': applyStep == 3}"><div>3. 支付费用</div></li>
                        <li><div>4. 报名成功</div></li>
                    </ul>
                </div>
                <div class="fe-apply-right">
                    <div ng-show="applyStep == 1" class="row fe-form fe-m0">
                        <div class="col-xs-12">
                            <div class="fe-form-top">
                                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                                <span class="fe-form-title">&nbsp;案例名称</span>
                            </div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入案例名称" ng-model="title" ng-class="{'fe-error': titleValid == false}"/>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="fe-form-top">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                <span class="fe-form-title">&nbsp;案例简介</span>
                            </div>
                            <div class="fe-form-bottom">
                                <textarea placeholder="在这里输入案例简介" rows="6" ng-model="description" ng-class="{'fe-error': descriptionValid == false}"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="fe-form-top">
                                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                <span class="fe-form-title">&nbsp;价格区间</span>
                            </div>
                            <div class="fe-form-bottom">
                                <select ng-model="price" ng-options="price for price in priceList"></select>
                            </div>
                        </div>
                        <div class="col-xs-6 left">
                            <div class="fe-form-top">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                <span class="fe-form-title">&nbsp;地区</span>
                            </div>
                            <div class="fe-form-bottom">
                                <select ng-model="province" ng-options="province for province in provinceList" ng-change="changeProvince()"></select>
                            </div>
                        </div>
                        <div class="col-xs-6 right">
                            <div class="fe-form-top">
                            </div>
                            <div class="fe-form-bottom">
                                <select ng-model="city" ng-options="city for city in cityList"></select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="fe-form-top">
                                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                <span class="fe-form-title">&nbsp;场地</span>
                            </div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入场地" ng-model="place" ng-class="{'fe-error': placeValid == false}" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="fe-form-top">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="fe-form-title">&nbsp;选送奖项(可多选)</span>
                            </div>
                            <div class="fe-form-bottom pt0">
                                <div class='col-xs-6' ng-repeat="award in awardList track by $index" ng-class="{true: 'pt-left', false: 'pt-right'}[$index % 2 == 0]">
                                    <div class="fe-choose" ng-click="applyAward($index)" ng-class="{'apply': award.apply}">
                                        <span>{[{ award.name }]}</span>
                                        <span>￥{[{ award.fee }]}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-xs-offset-4 fe-pt20">
                            <div class="fe-btn next" ng-click="jumpToStep(2)">下一步</div>
                        </div>
                    </div>
                    <div ng-show="applyStep == 2" class="row fe-form fe-m0">
                        <div class="col-xs-12">
                            <div class="fe-form-top">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                <span class="fe-form-title">&nbsp;案例图文</span>
                            </div>
                            <div class="fe-form-bottom">
                                <script type="text/plain" id="myEditor">
                                    <p>请填写案例的图文（不少于200字）</p>
                                </script>
                            </div>
                        </div>
                        <div class="col-xs-3 col-xs-offset-2 fe-pt10">
                            <div class="fe-btn before" ng-click="jumpToStep(1)">上一步</div>
                        </div>
                        <div class="col-xs-3 col-xs-offset-2 fe-pt10">
                            <div class="fe-btn next" ng-click="jumpToStep(3)">下一步</div>
                        </div>
                    </div>
                    <div ng-show="applyStep == 3" class="row fe-form fe-m0 fe-apply-fee">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img class="fe-width" src="{{ asset('img/fantastic/join/fee_title.jpg') }}" />
                        </div>
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="row fe-m0 fee-top">
                                <div class="fee-top-1">
                                    您本次报名的费用共计
                                </div>
                                <div class="fee-top-2">
                                    ¥ {[{ casus.totalFee }]}
                                </div>
                                <div class="fee-top-3">
                                    <div class="fee-top-row" ng-repeat="award in casus.awardList">
                                        <span>{[{ award.name }]}</span>
                                        <span>￥{[{ award.fee }]}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row fe-m0 payment-choose">
                                <div class="col-xs-12 choose-title">
                                    请选择支付方式
                                </div>
                                <div class="col-xs-12 choose-area">
                                    <div class="choose-radio"><input type="radio" checked /></div>
                                    <div class="choose-btn alipay active"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-xs-offset-2 fe-pt10">
                            <div class="fe-btn before" ng-click="jumpToStep(2)">上一步</div>
                        </div>
                        <div class="col-xs-3 col-xs-offset-2 fe-pt10" ng-show="casus.totalFee != '0.00'">
                            <div id="pay-btn" class="fe-btn next" ng-click="pay()">去支付</div>
                        </div>
                        <div class="col-xs-3 col-xs-offset-2 fe-pt10" ng-show="casus.totalFee == '0.00'">
                            <div id="pay-btn" class="fe-btn next" ng-click="jumpToPage('join/success')">完成</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        app.value('awardList', '{{ awardList | json_encode | escape('js') }}');
        app.value('cbwaUser', '{{ cbwaUser | json_encode | escape('js') }}');
    </script>
    <script type="text/javascript" src="{{ asset('js/umeditor/umeditor.config.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/umeditor/umeditor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/umeditor/lang/zh-cn/zh-cn.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/controller/join.js?v=1') }}"></script>
{% endblock %}