{% extends 'base.mobile.html.twig' %}

{% block title %}时尚致爱邀您制作新春封面 - 选择照片{% endblock %}

{% block body %}
    <div class="face-body step2photo bg-white" ng-controller="SwapFaceCtrl">
        <div class="">
            <a href="http://www.ccbride.com/pub/download?direct=true"><img class="w-full"
                                                                           src="{{ asset('img/mobile/face/btn_download.gif') }}"/></a>
        </div>
        <div class="title text-center">
            <div class=""><img src="{{ asset('img/mobile/face/img_title_up.png') }}"/></div>
            <div class="bold-text">请上传一张您的正面照</div>
            <div class="img-under-title "><img src="{{ asset('img/mobile/face/img_title_down.png') }}"/></div>
        </div>

        <div class="content">
            <div class="crop-tip-2"><small class="gray-text"><b>Step2：</b>拖拽裁剪后的图片至目标区域</small></div>
            <div class="target-area">
                <img id="model-img" class="w-full margin-t-sm" src=""/>
                <img id="cropped-img-1" class="cropped-img" />
                <img id="cropped-img-2" class="cropped-img" />
                <img id="img-2vm" src="{{ asset('img/mobile/face/img_2vm.jpg') }}" style="width: 50px;height: 50px;display: none;"/>
            </div>

            <div id="crop-tip-1" class=""><small class="gray-text"><b>Step1：</b>拖拽+缩放，将头像放至裁剪框内</small></div>
            <div class="component margin-t-sm">
                <div class="overlay">
                    <div class="overlay-inner">
                    </div>
                </div>
                <img id="resize-image" class="resize-image w-full" src="" />
            </div>

            <div class="">
                <button class="btn-upload" ng-click="uploadImage()">上传照片</button>
                <button class="btn-ok" ng-click="finish()">制作</button>
                <button id="js-crop" class="btn-ok">裁剪&nbsp;<img class="" src="http://tympanus.net/Tutorials/ImageResizeCropCanvas/img/crop.svg"></button>
            </div>

            <input type="file" id="photo" accept="image/*"/>
        </div>
        <div class="advice">
            <div class="thin-text small-font">你肯定喜欢</div>
            <div class=""><a
                        href="http://mp.weixin.qq.com/s?__biz=MjI2MjQ5Njc0MQ==&mid=2651601498&idx=1&sn=25accb3b5430f050dc9cad79b88fb5ea&chksm=b51d98d0826a11c6dc17d83083904387526288ce96766d209ba4f8bfc3808961ff48a9f7ee49#rd">2017特辑
                    | 全球婚礼流行趋势</a></div>
            <div class=""><a
                        href="http://mp.weixin.qq.com/s?__biz=MjI2MjQ5Njc0MQ==&mid=2651602528&idx=1&sn=893e77ad4158cfa00442576112e79f50&chksm=b51d9cea826a15fc25d30c0aff0f3bf35e7d0b9e2b308c7b449074d3031fa44d9a80bcb8ff1f#rd">2017特辑
                    | 十二星座爱情运势</a></div>
            <div class=""><a
                        href="http://mp.weixin.qq.com/s?__biz=MjI2MjQ5Njc0MQ==&mid=2651602523&idx=1&sn=f0c77455cf8c4b1f18837fb7907a5e2a&chksm=b51d9cd1826a15c703e7386c5aa081803ab84ab8020b6a37aff85ab365d4515e97963a7879d8#rd">"红"运当头
                    | 把一生一次的喜事变成一生一世的幸运</a></div>
            <div class=""><a href="http://www.ccbride.com/pub/mobile/cbwa/works?from=groupmessage&isappinstalled=0">2016时尚新娘
                    | 婚礼作品设计大赛投票入口</a></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var type = '{{ type }}';
        var tag1 = '{{ tag1 }}';
        var tag2 = '{{ tag2 }}';
        var tag3 = '{{ tag3 }}';
        var tag4 = '{{ tag4 }}';
        var tag5 = '{{ tag5 }}';
        var tag6 = '{{ tag6 }}';
    </script>
    <script type="text/javascript" src="{{ asset('js/mobile/face.js?v=2') }}"></script>
{% endblock %}