{% extends 'base.mobile.html.twig' %}

{% block title %}时尚新娘{% endblock %}

{% block body %}
    <div class="container-fluid m-share-photo m-p0" ng-class="{'m-half': isMobile == false}"
         ng-controller="SharePhotoController" ng-init="init()">
        <div class="row top-area">
            <div class="col-xs-12 m-p-12">
                <div class="author">
                    <img class="p-m-2 avatar"
                         ng-src="{[{ photo.owner.avatarThumb }]}"/>
                    <img ng-if="photo.owner.identity == 1" class="big-v" src="{{ asset('img/mobile/common/user_identity_blue.png') }}" />
                    <img ng-if="photo.owner.identity == 2 || photo.owner.identity == 3" class="big-v"
                         src="{{ asset('img/mobile/common/user_identity_gold.png') }}" />
                </div>
                <div class="user-area">
                    <div class="area-top" ng-class="{'with-desc': photo.description != ''}">{[{ photo.owner.nickname }]}</div>
                    <div class="area-bottom" ng-show="photo.description != ''">{[{ photo.description }]}</div>
                    <div class="area-time">{[{ formatTime(photo.createTime) }]}</div>
                </div>
            </div>
            <div class="col-xs-12 url-list" ng-show="photo.urlList.length > 4 || photo.urlList.length == 3">
                <div class="col-xs-4" ng-repeat="one in photo.urlList">
                    <img class="m-width" ng-src="{[{ one.url }]}@320w_320h_1e_1c" />
                </div>
            </div>
            <div class="col-xs-12 url-list" ng-show="photo.urlList.length == 4 || photo.urlList.length == 2">
                <div class="col-xs-6" ng-repeat="one in photo.urlList">
                    <img class="m-width" ng-src="{[{ one.url }]}@320w_320h_1e_1c" />
                </div>
            </div>
            <div class="col-xs-12 url-list" ng-show="photo.urlList.length == 1">
                <div class="col-xs-8" ng-repeat="one in photo.urlList">
                    <img class="m-width" ng-src="{[{ one.url }]}" />
                </div>
            </div>
            <!-- favor -->
            <div class="col-xs-12 favor-list">
                <div class="col-xs-12 " ng-if="favorList.length > 0">
                    <span ng-repeat="favor in favorList">
                        <img class="mini-avatar" ng-src="{[{ favor.userMini.avatarThumb }]}" />
                    </span>
                    <img class="icon-next" src="{{ asset('img/mobile/share/favor_more.png') }}" />
                    <div class="favor-number">
                        <div class="number-top">
                            <img src="{{ asset('img/mobile/share/favor.png') }}" />
                        </div>
                        <div class="number-bottom">
                            {[{ photo.favorNumber }]}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- comment -->
        <div class="row comment-list" ng-show="commentList.length > 0">
            <div class="col-xs-12 comment-title">
                评论&nbsp;{[{ photo.commentNumber }]}
            </div>
            <div class="col-xs-12 photo-comment" ng-repeat="cmt in commentList">
                <div class="comment-row">
                    <div class="comment-left">
                        <img class="p-m-2 avatar"
                             ng-src="{[{ cmt.userMini.avatarThumb }]}"/>
                        <img ng-if="cmt.userMini.identity == 1" class="big-v" src="{{ asset('img/mobile/common/user_identity_blue.png') }}" />
                        <img ng-if="cmt.userMini.identity == 2 || cmt.userMini.identity == 3" class="big-v"
                             src="{{ asset('img/mobile/common/user_identity_gold.png') }}" />
                    </div>
                    <div class="comment-right">
                        <div class="area-top with-desc">{[{ cmt.userMini.nickname }]}</div>
                        <div class="area-bottom">{[{ cmt.replyToUserMini == null ? "" : '回复: ' + cmt.replyToUserMini.nickname }]}&nbsp;{[{ cmt.content }]}</div>
                        <div class="area-time">{[{ formatTime(cmt.createTime) }]}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comment-list" ng-show="commentList.length == 0">
            <div class="col-xs-12 default-comment">
                <img src="{{ asset('img/mobile/common/add_comment.png') }}" />
                <div>&nbsp;来写第一个评论吧！</div>
            </div>
        </div>
        <!-- download -->
        <div class="row share-bottom m-m0" ng-if="isMobile == true" ng-click="jumpDownload()">
            <img class="m-width" src="{{ asset('img/mobile/common/banner_download.png') }}" />
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        app.value('photoUuid', '{{ photoUuid }}');
    </script>
    <script type="text/javascript" src="{{ asset('js/mobile/share.photo.js') }}"></script>
{% endblock %}