{% extends 'base.mobile.html.twig' %}

{% block title %}时尚新娘{% endblock %}

{% block body %}
    <div class="container-fluid m-share-poster" ng-class="{'m-half': isMobile == false}"
         ng-controller="SharePosterController" ng-init="init()">
        <div class="row">
            <div class="col-xs-12">
                <img class="m-width" src="{{ asset('img/mobile/share/poster_title_1.png') }}" />
                <div class="po-theme-dark">{[{ poster.themeTitle }]}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 po-up-title">{[{ poster.title }]}</div>
            <div class="col-xs-12 po-up-title-desc">{[{ poster.subTitle }]}</div>
            <div class="col-xs-12 m-p0 m-center">
                <img class="m-half" src="{{ asset('img/mobile/share/poster_title_2.png') }}" />
            </div>
        </div>
        <div class="row" ng-repeat="one in poster.content track by $index">
            <div class="col-xs-12">
                <div class="row " ng-show="one.title != ''">
                    <div class="col-xs-12 m-p0 m-center" ng-show="$index != 0">
                        <img class="m-half" src="{{ asset('img/mobile/share/poster_title_2.png') }}" />
                    </div>
                    <div class="col-xs-12 po-sub-title">{[{ one.title }]}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 m-p0" ng-class="{true: 'm-m-t-1'}[one.title=='' && $index == 0]">
                        <img class="m-width" ng-src="{[{ one.image }]}" />
                    </div>
                    <div class="col-xs-12" ng-show="one.legend">
                        <div class="row">
                            <div class="col-xs-12" ng-class="{true: 'm-left po-legend-l2r', false: 'm-right po-legend-r2l'}[$index % 2 == 0]"
                                 ng-bind-html="trustHtml(one.legend)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" ng-class="{true: 'po-text-dark'}[one.text != '' || (one.text == '' && $index == poster.content.length - 1)]"
                         ng-bind-html="trustHtml(one.text)">
                    </div>
                </div>
            </div>
        </div>
        <!-- author -->
        <div class="row author-area">
            <div class="col-xs-12 author">
                <img class="p-m-2 avatar" ng-class="{true: 'and-v'}[poster.author.identity != 0]"
                     ng-src="{[{ poster.author.avatarThumb }]}"/>
                <img ng-if="poster.author.identity == 1" class="big-v" src="{{ asset('img/mobile/common/user_identity_blue.png') }}" />
                <img ng-if="poster.author.identity == 2 || poster.author.identity == 3" class="big-v"
                     src="{{ asset('img/mobile/common/user_identity_gold.png') }}" />
            </div>
            <div class="col-xs-12 editor">{[{ poster.author.nickname }]}</div>
            <div class="col-xs-12 m-p0 m-center"
                 ng-if="poster.camera != '' || poster.model != '' || poster.sculpt != '' || poster.flower != ''">
                <img class="m-half" src="{{ asset('img/mobile/share/poster_title_2.png') }}" />
            </div>
            <div class="col-xs-12" ng-if="poster.camera != ''">摄影师：{[{ poster.camera }]}</div>
            <div class="col-xs-12" ng-if="poster.model != ''">模特：{[{ poster.model }]}</div>
            <div class="col-xs-12" ng-if="poster.sculpt != ''">造型师：{[{ poster.sculpt }]}</div>
            <div class="col-xs-12" ng-if="poster.flower != ''">花艺设计：{[{ poster.flower }]}</div>
        </div>
        <!-- download -->
        <div class="row share-bottom" ng-if="isMobile == true" ng-click="jumpDownload()">
            <img class="m-width" src="{{ asset('img/mobile/common/banner_download.png') }}" />
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        app.value('posterUuid', '{{ posterUuid }}');
    </script>
    <script type="text/javascript" src="{{ asset('js/mobile/share.poster.js') }}"></script>
{% endblock %}